<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.bandainamcoent.eu/high/dragon-ball/dragon-ball-the-breakers/00-page-setup/dbtb-header-mobile.jpg);">
  <div class="b-container">
    <h1>Dragon Ball<strong> character</strong><strong> creation</strong>!</h1>
    <p>Create your own dragonball character and evolve him to super sayan! </p>  <br>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
